*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    text-rendering: optimizeLegibility;
    font-family: 'Bree Serif', serif; 
    overflow: hidden;
}


p{
    font-family: 'Jost', sans-serif;
}

.swiper-pagination-bullets{
    top:80%;
}

.swiper-pagination-bullet-active{
    background: #FF9300;
}